.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.p
{
  display: flex;
  margin-left:200px;
  margin-top: 30px;
  
}
.pie
{
  width:400px;
  height:400px;
  border:2px solid ;
  background-color: gray
}
.c
{
  width:500px;
  height:165px;
  background-color: gray;
  margin-top: 100px;
  border:2px ;
  margin:20px;
}
table,thead,tbody
{
border:1px solid

}
.form
{
  widows: 500px;
  height: 200px;
  background-color: gray;
  margin: 20px;
}
.user
{
  width:350px;
  height:195px;
  
  border:2px solid ;
}
.img
{
  width:150px;
  height: 195px;
 
}
.img1
{
  margin-top: 59px;
  height:100px;
  width:100px;
}
.table
{
  width:950px;
  border:2px solid ;
  margin-right: 250px;
  background-color: gray
}




  